@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --acc: 39, 100%, 50%;
}
* {
  transition-duration: 0.2s;
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}

@media (prefers-color-scheme: dark){
  :root{
    --fg: 0, 0%, 100%;
    --bg1: 0, 0%, 7%;
    --bg2: 0, 0%, 13%;
    --bg3: 0, 0%, 20%;
  }
}
@media (prefers-color-scheme: light){
  :root{
    --fg: 0, 0%, 0%;
    --bg1: 0, 0%, 100%;
    --bg2: 0, 0%, 93%;
    --bg3: 0, 0%, 87%;
  }
}

.App {
  background-color: hsl(var(--bg1));
  color: hsl(var(--fg));
  min-height: calc(100vh - 2em);
  font-family: "Raleway", sans-serif;
  padding: 1em;
}

.main-wrapper, .flex-right, .flex-down {
  gap: 1em;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 300px 3fr;
}

.flex-right, .flex-down {
  display: flex;
  
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.stretch {
    justify-content: space-between;
  }
}
.flex-right {
  flex-direction: row;
}
.flex-down {
  flex-direction: column;
}

.title {
  gap: 0.5em;
  font-weight: bold;

  &.level-1 {
    font-size: 1.5em;
  }
  &.level-2 {
    font-size: 1.25em;
  }
  &.level-3 {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 700px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
}