@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --acc: 39, 100%, 50%;
  --main-port-width: 1200px;
  --sidebar-width: 300px;
  --padding: 1em;
  --blur-force: 0.75em;
}
* {
  transition-duration: 0.2s;
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}

@media (prefers-color-scheme: dark){
  :root{
    --fg: 0, 0%, 100%;
    --bg1: 0, 0%, 7%;
    --bg2: 0, 0%, 13%;
    --bg3: 0, 0%, 20%;
  }
}
@media (prefers-color-scheme: light){
  :root{
    --fg: 0, 0%, 0%;
    --bg1: 0, 0%, 100%;
    --bg2: 0, 0%, 93%;
    --bg3: 0, 0%, 87%;
  }
}

.App {
  background-color: hsl(var(--bg1));
  color: hsl(var(--fg));
  min-height: calc(100vh - 2 * var(--padding));
  font-family: "Raleway", sans-serif;
  padding: var(--padding);
}

.main-wrapper, .flex-right, .flex-down {
  gap: var(--padding);
}

.main-wrapper {
  justify-content: center;
}
.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: calc(100vh - 2 * var(--padding));
  right: var(--padding); top: var(--padding);
  translate: calc(var(--sidebar-width) + var(--padding)) 0;
  z-index: 99;

  &.open {
    translate: 0;
  }
}
.main-content {
  width: calc(100vw - 2 * var(--padding));
  max-width: var(--main-port-width);
}

.flex-right, .flex-down {
  display: flex;
  
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.stretch {
    justify-content: space-between;
  }
  &.tight {
    gap: calc(var(--padding) / 4);
  }
  &.wrap {
    flex-wrap: wrap;
  }
}
.flex-right {
  flex-direction: row;
}
.flex-down {
  flex-direction: column;
}

.title {
  gap: calc(var(--padding) / 2);
  font-weight: bold;

  &.level-1 {
    font-size: 1.65em;
  }
  &.level-2 {
    font-size: 1.35em;
  }
  &.level-3 {
    font-size: 1.15em;
  }
}

.accent {
  color: hsl(var(--acc));
}
.accent-border {
  border: 2px solid hsl(var(--acc));
}
.ghost {
  opacity: 0.5;
}

@media screen and (min-width: calc(1200px + 300px + 3 * 1em)) {
  .wide-hide {
    display: none;
  }
  .main-wrapper {
    flex-direction: row-reverse;
  }
  .sidebar {
    position: static;
    translate: 0;
  }
}