.pop-up-rear {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  backdrop-filter: blur(var(--blur-force));
  display: flex;
  justify-content: center;
  align-items: center;

  & .pop-up-inner {
    max-width: calc(90vw - 2 * var(--padding));
    max-height: calc(90vh - 2 * var(--padding));
    overflow: auto;
  }
}
